:root {
  --body-background-color: #f7f7f7;
  --body-color: #000;
  --form-background-color: #fff;
  --form-font-color: #000;
  --envelope-svg-fill-color: #ffac3f;
  --envelope-svg-stroke-color: #000;
  --key-svg-fill-color: #deaa87;
  --key-svg-stroke-color: #000;
  --form-fields-background-color: #f0f0f0;
  --form-fields-border-color: #fff;
  --submit-button-hover-color: #000;
  --form-fields-focus-and-hover-color: #ffac3f;
  --form-placeholder-color: #000;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  color: var(--body-color);
  background-color: var(--body-background-color);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .02rem;
}

main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.center-headline {
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--form-background-color);
  border-radius: 10px;
  padding-top: 2rem;
}

#envelope-svg g {
  fill: var(--envelope-svg-fill-color);
  stroke: var(--envelope-svg-stroke-color);
}

#email-form form, #password-form {
  display: flex;
  flex-direction: column;
  background-color: var(--form-background-color);
  padding: 2rem 4rem;
  border-radius: 10px;
}

#key-svg g {
  fill: var(--key-svg-fill-color);
  stroke: var(--key-svg-stroke-color);
}

#password-form form {
  display: flex;
  flex-direction: column;
}

#password-policy {
  font-size: .8rem;
  margin: 0 0 2rem 0;
  padding: 0 0 0 15px;
}

.form-element {
  margin-bottom: 2rem;
}

.input-field, .submit-button {
  color: var(--form-font-color);
  background-color: var(--form-fields-background-color);
  border: none;
  border-radius: 5px;
  padding: .5rem;
  outline: none;
  text-decoration: none;
  appearance: none;
}

.input-field {
  border: 2px solid var(--form-fields-border-color);
}

.input-field:focus {
  border: 2px solid var(--form-fields-focus-and-hover-color);
}

.submit-button:hover {
  color: var(--submit-button-hover-color);
  background-color: var(--form-fields-focus-and-hover-color);
  cursor: pointer;
}

::placeholder {
  color: var(--form-placeholder-color);
  opacity: 1;
}

ul {
  margin: 0;
  list-style-type: none;
}

ul > li {
  text-indent: -5px;
  margin-bottom: .5rem;
}

ul > li:before {
  content: "- ";
  text-indent: -5px;
}

@media screen and (max-width: 560px) {
  .card {
    margin: 7rem 1rem 0rem 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #373737;
    --body-color: #fff;
    --form-background-color: #303030;
    --form-font-color: #fff;
    --envelope-svg-fill-color: #ffac3f;
    --envelope-svg-stroke-color: #000;
    --key-svg-fill-color: #deaa87;
    --key-svg-stroke-color: #000;
    --form-fields-background-color: #202020;
    --form-fields-border-color: #303030;
    --form-fields-focus-and-hover-color: #ffac3f;
    --submit-button-hover-color: #fff;
    --form-placeholder-color: #f7f7f7;
  }
}
