<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="/css/email.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/favicon-180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="/favicon-192.png" sizes="192x192">
  </head>
  <body>
    <main>
        <div class="card">
          <span class="card-header">
            <svg class="lock_svg" width="60px" height="60px" version="1.1" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <path class="lock_ring" d="M8 13A6.3 6.3 0 1 1 13.5 13" stroke="#aab8c2" fill="none" stroke-width="1.8"/>
                <rect x="2" y="8" rx="3" ry="3" width="80%" height="65%" fill="#ffac3f"/>
            </svg>
          </span>
          <section id=password-form>
            <form action="/selfservice/submitPassword?token={{ .Token }}&username={{ .Username }}&domain={{ .Domain }}" method="POST">
              <input class="form-element input-field" name="email" type="email" value="{{ .Username }}@{{ .Domain }}" readonly>
              <input class="form-element input-field" name="current-password" type="password" placeholder="Enter current password">
              <ul id="password-policy">
                <li>Must be at least {{ .Length }} characters long</li>
                {{if .Lower}}
                <li>Must contain at least one lower case character</li>
                {{end}}
                {{if .Upper}}
                <li>Must contain at least one upper case character</li>
                {{end}}
                {{if .Digit}}
                <li>Must contain at least one digit</li>
                {{end}}
                {{if .Special}}
                <li>Must contain at least one special character</li>
                {{end}}
              </ul>
              <input class="form-element input-field" name="new-password" type="password" placeholder="Enter new password">
              <input class="form-element input-field" name="confirm-password" type="password" placeholder="Confirm new password">
              <input class="form-element submit-button" type="submit" value="Confirm">
            </form>
        </div>
      </section>
    </main>
  </body>
</html>

