<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="/css/email.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/favicon-180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="/favicon-192.png" sizes="192x192">
  </head>
  <body>
    <main>
      <div class="card">
        <svg id="key-svg" width="50mm" height="47.335mm" version="1.1" viewBox="0 0 30 27.335" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(-76.182 -85.636)">
            <g transform="matrix(.11884 -.031977 .031977 .11884 -9.5506 10.31)" fill="#deaa87" stroke="#000" stroke-dashoffset="61.599" stroke-linecap="round" stroke-linejoin="round">
              <path transform="rotate(66.516)" d="m1042.3-256.84a38.681 38.681 2.3562e-8 0 0-3.4711 16.067 38.681 38.681 2.3562e-8 0 0 38.706 38.632 38.681 38.681 2.3562e-8 0 0 38.655-38.681l8e-4 -0.0998a38.681 38.681 2.3562e-8 0 0-38.756-38.581 38.681 38.681 2.3562e-8 0 0-35.135 22.663zm27.512-7.6766a8.2511 8.2511 23.484 0 1 10.841-4.302l0.02 9e-3a8.2511 8.2511 23.484 0 1 4.2832 10.85 8.2511 8.2511 23.484 0 1-10.848 4.2902 8.2511 8.2511 23.484 0 1-4.2954-10.846z" stroke-width="2.6377"/>
              <path d="m618.19 893.24-103.62 45.022-6.5832 14.862 13.691 8.0956 28.808-12.516 1.439-8.5498 8.0744 4.4159 3.2168-1.3976 0.0334-5.7804 4.6614 3.7413 5.1934-2.2564-0.62252-7.7122 6.1548 5.2378 46.814-20.269" stroke-width="1.8241"/>
              <path d="m511.28 945.7 86.41-37.543" stroke-width="2.5"/>
            </g>
          </g>
        </svg>
        <section id=password-form>
          <form action="/selfservice/submitPassword?token={{ .Token }}&username={{ .Username }}&domain={{ .Domain }}" method="POST">
            <input class="form-element input-field" name="email" type="email" value="{{ .Username }}@{{ .Domain }}" readonly>
            <input class="form-element input-field" name="current-password" type="password" placeholder="Enter current password">
            <ul id="password-policy">
              <li>Must be at least {{ .Length }} characters long</li>
              {{if .Lower}}
              <li>Must contain at least one lower case character</li>
              {{end}}
              {{if .Upper}}
              <li>Must contain at least one upper case character</li>
              {{end}}
              {{if .Digit}}
              <li>Must contain at least one digit</li>
              {{end}}
              {{if .Special}}
              <li>Must contain at least one special character</li>
              {{end}}
            </ul>
            <input class="form-element input-field" name="new-password" type="password" placeholder="Enter new password">
            <input class="form-element input-field" name="confirm-password" type="password" placeholder="Confirm new password">
            <input class="form-element submit-button" type="submit" value="Confirm">
          </form>
        </div>
      </section>
    </main>
  </body>
</html>

